{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		{% endblock title %}
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}"> {% endcomment %}
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
		{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"> {% endcomment %}
		<link rel="stylesheet" href="{% static 'css/toastify.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">

		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script> {% endcomment %}
		<script src="{% static 'js/toastify-js.js' %}"></script>
		<script src="{% static 'js/jquery.blockUI.js' %}"></script>
		{% block extra_assets %}
		{% endblock extra_assets %}
	</head>

	<body class="bg-gray-50 font-mono">
		{% block header %}
		<header class="shadow py-4 text-lg sm:px-8 sm:text-xl lg:px-28">
			<a class="text-3xl text-transparent block mb-6 text-center md:inline hover:text-[2.2rem] header__title" href="#">
				TINYY.<sub>ink</sub>
			</a>
			<nav class="float-none md:float-right sm:max-h-[28px]">
				<ul class="flex gap-7 sm:gap-10 justify-center">
					<li>
						<a href="#faq" class="text-teal-500 sm:hover:text-[2.1rem]">FAQ</a>
					</li>
					<li>
						<a href="{% url 'shorten:my-urls' %}" class="text-teal-500 sm:hover:text-[2.1rem]">
							My URLs
						</a>
					</li>
					<li>
						<a href="#" class="border border-solid p-3 rounded-full text-red-400 hover:border-gray-400">
							Support ❤️
						</a>
					</li>
				</ul>
			</nav>
		</header>
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block footer %}
		<footer class="pt-8 pb-4 border-solid border-t-2 bg-teal-500 text-xl text-white">
			<ul class="flex gap-14 lg:gap-28 justify-center mb-5 sm:max-h-[28px]">
				{# text-right is used to send text to right when it spans two lines #}
				<li class="text-right">
					<a href="mailto:sergedurand205@gmail.com?subject=From tinyy&message=Hi serge, " class="sm:hover:text-2xl">
						Send email
					</a>
				</li>
				<li>
					<a href="https://github.com/Sergecodes/url-shortener" class="sm:hover:text-2xl">
						GitHub
					</a>
				</li>
				<li>
					<a href="#" class="sm:hover:text-2xl">
						Cup of coffee
					</a>
				</li>
			</ul>
			<p class="text-center">&copy; {% now 'Y' %}</p>
		</footer>
		{% endblock %}

		<script>
			$(function() {
				$(document).ajaxError(function(event, jqXHR, settings, thrownError) {
					console.log(jqXHR);
					console.log(settings);

					var defaultMsg = (function() {
						var main = "An error occured, refresh the page and try again. <br> <a href='mailto:sergedurand205@gmail.com' style='text-decoration: underline;'>Contact us</a> if it persists.";
						var responseStr = jqXHR.responseJSON.data;

						if (responseStr) {
							// If we're on home page and captcha was not invalid,
							// we need to refresh captcha (else captcha check won't validate).
							if (
								(typeof captchaInput !== 'undefined') && 
								!('captcha' in JSON.parse(responseStr))
							) {
								reloadIcon.click();
							}
							return responseStr;
						} else if (jqXHR.responseJSON.code == 'HASH_UNAVAILABLE') {
							return 'Alias unavailable, please use another one or let us choose one for you.';
						}

						return main;
					})();

					Toastify({
						text: defaultMsg,
						duration: 3500,
						escapeMarkup: false,
						style: {
							cursor: 'default',
							background: 'linear-gradient(to right, #8e0e00, #1f1c18)'
						}
					}).showToast();
				});
			});

			function copyLink() {
				navigator.clipboard.writeText(this.dataset.text).then(function() {
					Toastify({
						text: "Link copied to clipboard.",
						duration: 3000,
						style: {
							cursor: 'default',
							background: 'linear-gradient(to right, teal, rgb(50, 220, 200))'
						}
					}).showToast();
				}, function() {
					var errMsg = "An error occured while copying the link. <br> Try to copy it manually by selecting the text and copying.";
					Toastify({
						text: errMsg,
						duration: 3500,
						escapeMarkup: false,
						style: {
							cursor: 'default',
							background: 'linear-gradient(to right, #8e0e00, #1f1c18)'
						}
					}).showToast();
				});
			}

			{% comment %} $(document).ajaxStart(function() {
				// console.log("ajax started");
				$.blockUI({ 
					css: {
						border: 'none',
						padding: '12px',
						backgroundColor: '#000',
						'-webkit-border-radius': '10px',
						'-moz-border-radius': '10px',
						opacity: .5,
						color: '#fff'
					},
					message: "<h1>Please wait...</h1>",
				});
			});
	
			$(document).ajaxStop(function() {
				// console.log("ajax ok");
				$.unblockUI();
			}); {% endcomment %}
		</script>
		{% block extra_js %}
		{% endblock %}
	</body>
</html>
