{% extends "theme/base.html" %}

{% load humanize qr_code app_extras %}


{% block content %}
<div class="container mt-[5vh] mx-auto">
   <!-- URLs section -->
   <section class="shadow pt-6 mb-20">
      <div class="mb-12 mr-8 text-right">
         <p>
            Preview URLs?
            <input 
               class="text-teal-600 hover:cursor-pointer" 
               style="box-shadow: none;"
               type="checkbox" 
               onchange="onChangePreview();"
               {% if preview_urls %}checked{% endif %}
            >
            <span class="hidden">
               <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </span>
         </p>
         <p class="text-xs text-gray-400">
            (Display original url before going to page)
         </p>
      </div>
      <h1 class="text-3xl text-center text-gray-600 mb-10">
         My Recent URLs
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 divide-y text-[0.9rem]">
         {% for short_url in page_obj %}
         {% with long_url=short_url.long_url hash=short_url.hash url=short_url.url %}
         {% qr_url_from_text url size='T' version=2 image_format='png' as qr_url %}
         <div class="flex pt-6 mx-auto px-2 {% if forloop.counter == 2 %}md:border-none{% endif %} {% if forloop.counter == 3 %}lg:border-none{% endif %}">
            <span>
               <i class="fa fa-link" aria-hidden="true"></i>
            </span>
            <div class="ml-2 md:mr-3 break-all"> {# break-all to account for super long urls #}
               <p class="flex justify-between">
                  <span class="font-bold break-normal">{{ url }}</span>
                  <span class="text-gray-400 text-xs ml-8 md:ml-[1.2rem]" title="{{ short_url.created_on }}">
                     {{ short_url.created_on|naturaltime }} 
                  </span>
               </p>
               <p class="mb-1">
                  <span class="text-teal-700">{{ long_url.url }}</span>
               </p>
               <p class="mb-7">
                  <span class="text-teal-700 mr-1">{{ short_url.num_visits|format_number }} visit{{ short_url.num_visits|pluralize }}</span>
                  <a href="{% url 'shorten:stats' hash %}">
                     <i class="fa fa-bar-chart" aria-hidden="true"></i>
                     View stats
                  </a>
               </p>
               <p class="mb-2">
                  <a href="{% url 'shorten:redirect-url' hash %}" target="_blank" class="mr-5">
                     <i class="fa fa-external-link"></i> Visit 
                  </a>
                  <button class="clickBtn mr-5" data-text="{{ url }}" type="button">
                     <i class="fa fa-copy" aria-hidden="true"></i> Copy
                  </button>
                  <a href="{{ qr_url }}" download="{{ url }}.png">
                     <img 
                        class="inline w-6"
                        src="{{ qr_url }}" 
                        alt="QR code"
                     />
                     Download QR
                  </a>
               </p>
               <p class="mb-3">
                  Share:  
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" title="Share to Facebook" target="_blank" class="fa-stack fa-xl text-[cornflowerblue]">
                     <span class="sr-only">Facebook share</span>
                     <i class="fas fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                     <i class="fab fa-facebook fa-stack-1x" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.twitter.com/intent/tweet?text={{ url }}" title="Share to Twitter" target="_blank" class="fa-stack fa-xl text-[dodgerblue]">
                     <span class="sr-only">Twitter share</span>
                     <i class="fas fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                     <i class="fab fa-twitter fa-stack-1x" aria-hidden="true"></i>
                  </a>
                  <a href="https://wa.me?text={{ url }}" title="Share to WhatsApp" target="_blank" class="fa-stack fa-xl text-[forestgreen]">
                     <span class="sr-only">WhatsApp share</span>
                     <i class="fas fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                     <i class="fab fa-whatsapp fa-stack-1x" aria-hidden="true"></i>
                  </a>
                  <a href="mailto:''?body={{ url }}" title="Share to Mail" target="_blank" class="fa-stack fa-xl text-[#ff3333]">
                     <span class="sr-only">Mail share</span>
                     <i class="fas fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
                     <i class="fa fa-envelope fa-stack-1x" aria-hidden="true"></i>
                  </a>
               </p>
               <form method="post" class="text-center" action="{% url 'shorten:delete-url' %}">
                  {% csrf_token %}
                  <input name="hash" value="{{ hash }}" type="hidden">
                  <input name="next" value="{{ request.get_full_path }}" type="hidden">
                  <button type="submit" class="text-red-500 mb-4" title="Are you sure you want to delete this URL?">
                     Delete?
                  </button>
               </form>
            </div>
         </div>
         {% endwith %}
         {% empty %}
         <p>You haven't shortened any URLs yet</p>
         {% endfor %}
      </div>
      {% if is_paginated %}
         {% include 'home/pagination.html' with page_obj=page_obj %}
      {% endif %}
   </section>
</div>
{% endblock %}

{% block extra_js %}
<script>
   var csrfToken = "{{ csrf_token }}";

   var clickBtns = document.querySelectorAll('.clickBtn');
   for (var i = 0; i < clickBtns.length; i++) {
      // copyLink in base template
      clickBtns[i].addEventListener('click', copyLink);
   }

   function onChangePreview() {
      var checkbox = event.target;
      var spinnerWrp = checkbox.nextElementSibling;
      var checked = checkbox.checked;
      spinnerWrp.classList.remove('hidden');

      // Maintain state of checkbox
      checkbox.checked = !checkbox.checked;

      $.ajax({
         type: 'POST',
         url: "{% url 'shorten:ajax-toggle-preview' %}",
         data: {preview: checked},
         beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
         },
         success: function(result, status, jqXHR) {
            console.log(result);
            checkbox.checked = checked;
         },
         complete: function(jqXHR, textStatus) {
            spinnerWrp.classList.add('hidden');
         }
      });
   }
</script>
{% endblock %}