
:root {
   --teal: #14b8a6;
}


.no-style-btn {
   border: none;
   background: none;
}

.header__title {
   text-shadow: var(--teal) 0px 0px 2px;
}

.helptext {
   display: block;
   color: gray;
   font-size: 0.8rem;
}

/* captcha image */
#url-form .captcha {
   display: inline;
}

#url-form #id_captcha_1,
#url-form #id_captcha_1:focus {
   text-align: center;
}

#url-form #id_url:focus,
#url-form #id_captcha_1:focus,
#url-form #id_hash:focus {
   box-shadow: var(--teal);
   border-color: var(--teal);
}

#url-form #id_url {
   width: 80%;
}

#url-form label[for='id_hash'] {
   display: block;
}

#url-form > p:last-of-type {
   text-align: left;
   margin-left: 9vw;
}

#url-form #id_hash {
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}

/* accordion */
.accordion-container * {
   /* taken from tailwind class font-mono */
   font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.accordion-container .ac-trigger {
   font-weight: normal !important;
}

